<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817017461017-ar5qkq21rh0nkdenampk8k3qcrpg38ds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817017461017-ar5qkq21rh0nkdenampk8k3qcrpg38ds</string>
	<key>API_KEY</key>
	<string>AIzaSyCzvaRt5QL4j4jW_UKnECvcyfp2t75RgEs</string>
	<key>GCM_SENDER_ID</key>
	<string>817017461017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.num.egepan.ios</string>
	<key>PROJECT_ID</key>
	<string>egepan-7d047</string>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>STORAGE_BUCKET</key>
	<string>egepan-7d047.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:817017461017:ios:8613471d63faadbdf44d88</string>
</dict>
</plist>
